.user {
  width: 300px;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgba(255, 255, 255, 0.5);
}

li:hover {
  background-color: pink;
}

.delete-name:hover {
  color: red;
  cursor: pointer;
}
